.stub {
  display: flex;
  float: left;
  height: 100%;
}

.board {
  justify-content: space-around;
  margin-bottom: 10%;
}

.board-page{
  padding: 5%;
}

.stub-image{
  margin: 2%;
}

.stub-bar{
  /* height: 20%; */
}

.eliminated{

}